{% extends "lesCompagnies/baseLayout.html" %}
{% block title %} {{entreprise.nom}} {% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 well well-lg">
      <div class="text-center headerBloc">
        <h1>Informations de l'entreprise : {{entreprise.nom}}</h1>
      </div>
      <div id="boite">
        <table class="table table-striped noborder">
          <tbody>
            <tr>
              <th class="col-xs-2">
                Nom de l'entreprise
              </th>
              <td class="col-xs-6">
                  {{entreprise.nom}}
              </td>
            </tr>
            <tr>
              <th>
                Ville
              </th>
              <td>
                {{entreprise.ville}}
              </td>
            </tr>
            <tr>
              <th>
                Adresse
              </th>
              <td>
                {{entreprise.adresse}}
              </td>
            </tr>
            <tr>
              <th>
                Pays
              </th>
              <td>
                {{entreprise.pays}}
              </td>
            </tr>
            <tr>
              <th>
                Téléphone
              </th>
              <td>
                {{entreprise.telephone}}
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="text-center">
            <h2>Localisation</h2>
          </div>
          <div id="map"></div>
        </div>
        <div class="row">
          <div class="text-center">
            <h2>Contacts de l'entreprise</h2>
          </div>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th class="text-center col-xs-3">Nom</th>
                <th class="text-center col-xs-3">Libellé</th>
                <th class="text-center col-xs-3">Email</th>
                <th class="text-center col-xs-3">Gestion</th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contacts %}
              <tr class="text-center">
                <td>{{contact.nomContact}}</td>
                <td>{{contact.libelleContact}}</td>
                <td>{{contact.emailContact}}</td>
                <td>
                  <a href="../contact/modifier/{{contact.id}}" class="btn icones">
                    <span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>
                  </a>
                  <a href="../contact/supprimer/{{contact.id}}" class="btn icones">
                    <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center">
            <a href="../contact/ajouter/{{entreprise.id}}" class="btn bleu">
              <span class='glyphicon glyphicon-user' aria-hidden='true'></span>
              Ajouter un contact
            </a>
          </div>
        </div>
        <div class="row">
          <div class="text-center">
            <h2>Taxes d'apprentissage versées</h2>
          </div>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th class="text-center col-xs-8">Date</th>
                <th class="text-center col-xs-4">Gestion</th>
              </tr>
            </thead>
            <tbody>
              {% for taxe in taxes %}
                <tr class="text-center">
                  <td>{{taxe.dateTaxe}}</td>
                  <td>
                    <a href="../taxe/modifier/{{taxe.id}}" class="btn icones">
                      <span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>
                    </a>
                    <a href="../taxe/supprimer/{{taxe.id}}" class="btn icones">
                      <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center">
            <a href="../taxe/ajouter/{{entreprise.id}}" class="btn bleu">
              <span class='glyphicon glyphicon-inbox' aria-hidden='true'></span>
              Ajouter une taxe
            </a>
          </div>
        </div>
        <div class="row">
          <div class="text-center">
            <h2>Qui a contacté l'entreprise</h2>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="text-center col-xs-3">Expéditeur</th>
                <th class="text-center col-xs-3">Modalité</th>
                <th class="text-center col-xs-3">Personne contacté</th>
                <th class="text-center col-xs-3">Gestion</th>
              </tr>
            </thead>
            <tbody>
              {% for contacter in contacters %}
                <tr class="text-center">
                  <td>{{contacter.expediteurContacter}}</td>
                  <td>{{contacter.modaliteContacter}}</td>
                  <td>{{contacter.personneContacter}}</td>
                  <td>
                    {% if contacter.modaliteContacter == 'Email' or contacter.modaliteContacter == 'Courriel' %}
                      <a href="../contacter/afficher/{{contacter.id}}" class="btn icones">
                        <span class='glyphicon glyphicon-open' aria-hidden='true'></span>
                      </a>
                    {% endif %}
                    <a href="../contacter/modifier/{{contacter.id}}" class="btn icones">
                      <span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>
                    </a>
                    <a href="../contacter/supprimer/{{contacter.id}}" class="btn icones">
                      <span class='glyphicon glyphicon-trash' aria-hidden='true'></span>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="text-center">
            <a href="../contacter/ajouter/{{entreprise.id}}" class="btn bleu">
              <span class='glyphicon glyphicon-envelope' aria-hidden='true'></span>
              Contacter entreprise pour taxe
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMqq7VeBB8hMLam7TaKsJmj4oU_OvkA88&callback=initMap"></script>
<script type="text/javascript">
  var map;
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: {{ latitude }}, lng: {{ longitude }}},
      zoom: 10,
      maxZoom: 25
    });
    marker = new google.maps.Marker({
      map: map,
      position: {lat: {{ latitude }}, lng: {{ longitude }}},
      animation: google.maps.Animation.DROP
    });
    marker.addListener('click', toggleBounce);
    marker.setMap(map);
  }

  function toggleBounce() {
    if (marker.getAnimation() !== null) {
      marker.setAnimation(null);
    } else {
      marker.setAnimation(google.maps.Animation.BOUNCE);
    }
  }
</script>
{% endblock content %}
