label[for="id_longitude"]{
  display: none;
}
label[for="id_latitude"]{
  display: none;
}

.btnGestion{
  display: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#mapAccueil {
  height: 100%;
  margin-left: 5%;
  margin-right: 5%
}

#map {
  height: 350px;
  margin-left: 5%;
  margin-right: 5%
}

.noborder > tbody > tr > th, .noborder > tfoot > tr > th, .noborder > thead > tr > td, .noborder > tbody > tr > td, .noborder > tfoot > tr > td{
  border-top: none;
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu{
  z-index: 10000;
//  position: relative;
}
