header{
  height: 100px;
}

h1{
  margin-top: 10px;
  font-size: 24px;
  color:#fff;
}
h2{
  color: #db3737;
  font-size: 22px;
}
h3{
  margin-top: 10px;
  font-size: 20px;
  color:#fff;
}
a{
  color: #4d5358;
}
a:hover{
  text-decoration:none;
  color: #767d82;
}
.well{
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #E6E9E6;
}

.navbar {
  margin-bottom: 0px;
}
#navbar {
  left: 35%;
}
.navbar-inverse {
  background-color: #fe6258;
  border: none;
}
@media (min-width: 768px){
  .navbar {
    border-radius: 0px;
  }
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #febeba;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #febeba;
}
.navbar-brand{
  font-size:30px;
}

.container-fluid{
  padding: 40px 100px;
}

.map{
  //margin-right:5%;
  background-color: #E6E9E6;
  border-radius: 3px;
  height: 70vh;
  overflow: hidden;
  border:1px solid #D3D4D4;
}

.actualite{
  background-color: #E6E9E6;
  border-radius: 3px;
  height: 70vh;
  overflow: hidden;
  border:1px solid #D3D4D4;
}

.headerBloc2{
  width: auto;
  padding: 0px 40px;
  background: #496c86;
  line-height: 40px;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
}
.headerBloc{
  width: auto;
  padding: 0px 40px;
  background: #496c86;
  line-height: 40px;
  overflow: hidden;
}
.blocEntr{
  padding: 20px 10px;
}
.blocEntr li{
  padding-top: 15px;
  list-style:none;
}
#boite{
  padding:40px;
}
.form-inline{
  padding: 20px;
}
thead tr {
  background-color: #c7c5c5;
}
.bleu{
  background-color: #678fab;
  color: white;
}
.bleu:hover{
  background-color: #759fb9;
  color: white;
}
.icones{
  background-color: #d5dbe4;
  color: #3c3b35;
  border: solid 1px #b7b5b5;
}
.icones:hover{
  background-color: #c5cbd4;
}
.bleu:active{
  background-color: #678fab;
  color: white;
}

.table-bordered > tbody > tr{
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
    background-color: #e9e9e9;
}

footer{
  height: 110px;
  background-color: #3a383e;
  color: #bdbdbd;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.footer_content{
  bottom: auto;
}
